{% extends "layout.html.twig" %}
{% block content %}
    <h1>{{ title }} - {{ fecha }}</h1>
    <ul>
        {% for stock in stocks %}
            <li>{{ stock.producto.nombre }}: {{ stock.cantidad }}</li>
        {% endfor %}
    </ul>
    <form action="/stock" method="post">
		<h3> Mostrar stock por fecha y hora </h3>
        <input type="datetime-local" name="fecha" required>
        <button type="submit">mostrar</button>
    </form>


{% endblock %}
